.cardCharizard {
  width: 250px;
  height: 400px;
  text-align: center;
  display: grid;
  grid-template: 50px 1fr 50px / 1fr;
}

.cardImg{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circleCard{
  width: 100px;
  height: 100px;
  background-color: #3d3d3d;
  border-radius: 50%;
}

.types{
  width: 100%;
  height: 50px;
  border-top: 1px dashed #d3d3d3;
  border-bottom: 1px dashed #d3d3d3;
  margin-top: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chips{
  background-color: rgb(246, 143, 46);
  padding: 0 10px;
  border-radius: 30px;
  color: #fff;
}