@import url(../node_modules/chota/dist/chota.css);

html,
body {
  padding: 0;
  margin: 0;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}